body{
	font-family: 'Prompt', sans-serif;
	background: #ecf7fb;
	margin: 0;
	padding: 0;
}

/* Common Styles */
.uppercase{
	text-transform: uppercase;
}

.list{
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 1.5rem;
}

a{
	text-decoration: none;
	color: #BFEAF6;
	font-weight: normal;
}

.list:hover{
	background-color: #ff7673;
}

.white{
	color: white;
}
.pink{
	color: #ff7673;
}

h1, h2, h3{
	font-family: 'Baloo Paaji', cursive;
}
h1{
	font-size: 1.8rem;
	display: inline-block;
}
h2{
	font-size: 4rem;
	margin: 1rem;
}

/* Main Styles */

/*  Header */
/* Nav */
nav{
	background-color: #2c818b;
	width: 100%;
}

ul{
	display: inline-block;
	padding: 0 1rem;
}

.logo{
	padding-left: 9rem;
	padding-right: 9rem;
}



/* Main */
#main{
	background-image: url(../img/img-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.main-container{
	background: rgba(44, 129, 139, 0.9);
	background-position: center;
	background-size: cover;
	text-align: center;
	
	margin: 6rem;
	padding: 2rem;
}

.main-container p{
	margin: 1.1rem;
	font-style: italic;
}

.three, .four, .five, .six{
  background-color: rgba(44, 129, 139, 1);
  margin: 10px;
}

/* Tales Section */
#tales{
	text-align: center;
}

#tales img{
	width: 100%
}

/* Footer */
.footer-above{
	background: #ecf7fb;
	background-image: url(../img/bunny-head.png);
	background-size: 200px;
	border-bottom: 4px solid #ff7673;
}

.footer-below{
	background-color: #2c818b;
	text-align: center;
}

/* Responsive Menu */
#nav .btn-menu{
	display: none;
	color: white;
	font-size: 1rem;
	text-align: right;
	margin-left: 5rem;
}

i{
	padding: 1rem;
}
i:hover{
	color: #ff7673;
}